.navbar {
    background-color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-weight: 700;
    color: rgb(90, 89, 89);
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover{
    color: rgb(242, 131, 242);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-links {
        gap: 1rem;
    }

    .nav-link {
        padding: 0.5rem;
    }
}

.brand-name {
    /* background: pink; */
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    background: linear-gradient(135deg, rgb(244, 167, 238), rgb(229, 139, 237), rgb(220, 117, 229));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -1px;
    margin-left: 0.5rem;
}

.navbar-logo{
    height: 2.5rem;
}